@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='412' height='914' preserveAspectRatio='none' viewBox='0 0 412 914'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1884%26quot%3b)' fill='none'%3e%3crect width='412' height='914' x='0' y='0' fill='rgba(33%2c 21%2c 34%2c 1)'%3e%3c/rect%3e%3cg mask='url(%26quot%3b%23SvgjsMask1886%26quot%3b)'%3e%3cpath d='M187.5 787.5L212.5 762.5L212.5 737.5L212.5 712.5M212.5 812.5L212.5 787.5L237.5 762.5L237.5 737.5L237.5 712.5M212.5 862.5L187.5 837.5L187.5 812.5M212.5 937.5L212.5 912.5L212.5 887.5L212.5 862.5L212.5 837.5L212.5 812.5L187.5 787.5L187.5 762.5L187.5 737.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M181.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 712.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 712.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 812.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3cpath d='M162.5 687.5L187.5 662.5L187.5 637.5L187.5 612.5M187.5 887.5L187.5 862.5M187.5 937.5L187.5 912.5L187.5 887.5L162.5 862.5L162.5 837.5L162.5 812.5L162.5 787.5L162.5 762.5L162.5 737.5L162.5 712.5L162.5 687.5L162.5 662.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M156.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 612.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM181.25 862.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3cpath d='M262.5 637.5L237.5 612.5L237.5 587.5L237.5 562.5M262.5 662.5L237.5 637.5L212.5 612.5M262.5 687.5L237.5 662.5L212.5 637.5M237.5 937.5L237.5 912.5L237.5 887.5L237.5 862.5L237.5 837.5L262.5 812.5L262.5 787.5L262.5 762.5L262.5 737.5L262.5 712.5L262.5 687.5L262.5 662.5L262.5 637.5L262.5 612.5L262.5 587.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M256.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM231.25 562.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 612.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM206.25 637.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3cpath d='M137.5 687.5L112.5 662.5L112.5 637.5L112.5 612.5M137.5 737.5L112.5 712.5L112.5 687.5M137.5 637.5L162.5 612.5L162.5 587.5M162.5 937.5L162.5 912.5L162.5 887.5L137.5 862.5L137.5 837.5L137.5 812.5L137.5 787.5L137.5 762.5L137.5 737.5L137.5 712.5L137.5 687.5L137.5 662.5L137.5 637.5L137.5 612.5L137.5 587.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M131.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM106.25 612.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM106.25 687.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM156.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3cpath d='M262.5 937.5L262.5 912.5L262.5 887.5L262.5 862.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M256.25 862.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3cpath d='M137.5 937.5L137.5 912.5L137.5 887.5L112.5 862.5L112.5 837.5L112.5 812.5L112.5 787.5L112.5 762.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M106.25 762.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3cpath d='M287.5 662.5L312.5 637.5L312.5 612.5L312.5 587.5M287.5 687.5L312.5 662.5L337.5 637.5M287.5 487.5L312.5 462.5M287.5 812.5L312.5 787.5L312.5 762.5L312.5 737.5L312.5 712.5L312.5 687.5L337.5 662.5M287.5 537.5L312.5 512.5L312.5 487.5L337.5 462.5M287.5 937.5L287.5 912.5L287.5 887.5L287.5 862.5L287.5 837.5L287.5 812.5L287.5 787.5L287.5 762.5L287.5 737.5L287.5 712.5L287.5 687.5L287.5 662.5L287.5 637.5L287.5 612.5L287.5 587.5L287.5 562.5L287.5 537.5L287.5 512.5L287.5 487.5L287.5 462.5L287.5 437.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M281.25 437.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 587.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 637.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM306.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 662.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM331.25 462.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3cpath d='M62.5 762.5L87.5 737.5M112.5 912.5L87.5 887.5L62.5 862.5M87.5 812.5L62.5 787.5M112.5 937.5L112.5 912.5L112.5 887.5L87.5 862.5L87.5 837.5L87.5 812.5L87.5 787.5L62.5 762.5L62.5 737.5L62.5 712.5L87.5 687.5' stroke='url(%23SvgjsLinearGradient1885)' stroke-width='4.17'%3e%3c/path%3e%3cpath d='M81.25 687.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM81.25 737.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 862.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0zM56.25 787.5 a6.25 6.25 0 1 0 12.5 0 a6.25 6.25 0 1 0 -12.5 0z' fill='url(%23SvgjsLinearGradient1885)'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1884'%3e%3crect width='412' height='914' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0' y1='639.8' x2='412' y2='639.8' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1885'%3e%3cstop stop-color='%233a7cc3' offset='0'%3e%3c/stop%3e%3cstop stop-color='%23dd1133' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cmask id='SvgjsMask1886'%3e%3crect width='412' height='914' fill='white'%3e%3c/rect%3e%3cpath d='M184.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 712.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 712.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 812.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M159.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 612.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM184.37 862.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM234.37 562.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 612.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM209.37 637.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M134.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM109.37 612.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM109.37 687.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM159.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M259.37 862.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M109.37 762.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M284.37 437.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 587.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 637.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM309.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 662.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM334.37 462.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3cpath d='M84.37 687.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM84.37 737.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 862.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0zM59.37 787.5 a3.13 3.13 0 1 0 6.26 0 a3.13 3.13 0 1 0 -6.26 0z' fill='black'%3e%3c/path%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 100vh;
  text-align: center;
font-family: 'Inter', sans-serif;}

h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}

a {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px auto;
  padding: 10px 15px;
  font-size: 1.2rem;
}

/* From uiverse.io by @EmmaxPlay */
.btn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}

.social {
  display: flex;
  max-width: 250px;
  margin: 0 auto;
}

.social2 {
  display: flex;
  margin: 0 auto;
  max-width: 250px;
}

